,
    "fdic-bank-find-mcp-server": {
      "command": "docker",
      "args": [
        "run", "--rm", "-i",
        "-e", "RUST_LOG=trace",
        "-e", "FDIC_MAX_RESPONSE_CONTENT_LENGTH=1073741824",
        "-e", "FDIC_MCP_LOG_DIR=/server/logs",
        "-e", "ENDPOINT_EXCLUSIONS=financials",
        "-e", "RUST_BACKTRACE=1", 
        "-e", "RUST_LOG=debug",
        "fdic-bank-find-mcp-server:latest"
      ]
    }